<div class="container">
  <h1>Log-In Form</h1>
  <form [formGroup]="loginForm" (ngSubmit)="loginUser()" (ngNativeValidate)="false">
    <div class="inputs_space">
      <label for="name">Name</label>
      <input type="text" placeholder="Enter Your Name" name="name" formControlName="name" /><br>
      <span style="color:red;" *ngIf="name?.invalid && isFormSubmitted">Please enter an appropriate name</span>
    </div>

    <div class="inputs_space">
      <label for="phoneNumber">Phone number</label>
      <input type="tel" placeholder="Enter your phone number" name="phoneNumber" formControlName="phoneNumber" /><br>
      <span style="color:red;" *ngIf="phoneNumber?.invalid && isFormSubmitted">Please enter your phone number</span>
    </div>

    <div class="inputs_space">
      <label for="email">Email</label>
      <input type="email" placeholder="Enter Your Email" name="email" formControlName="email" /><br>
      <span style="color:red;" *ngIf="email?.invalid && isFormSubmitted">Please enter an appropriate email</span>
    </div>

    <div class="inputs_space">
      <label for="password">Password</label>
      <input type="password" placeholder="Enter Your Password" name="password" formControlName="password" /><br>
      <span style="color:red;" *ngIf="password?.invalid && isFormSubmitted">Please enter an appropriate password</span>
    </div>

    <div class="inputs_space">
      <label for="confirmPassword">Confirm Password</label>
      <input type="password" placeholder="Confirm Your Password" name="confirmPassword" formControlName="confirmPassword" /><br>
      <span style="color:red;" *ngIf="confirmPassword?.hasError('passwordsDoNotMatch') && (confirmPassword?.touched || isFormSubmitted)">Passwords do not match</span>
    </div>

    <div class="inputs_space">
      <label>Gender</label>
      <div class="radio-group">
        <label>
          <input type="radio" name="gender" value="male" formControlName="gender" /> Male
        </label>
        <label>
          <input type="radio" name="gender" value="female" formControlName="gender" /> Female
        </label>
        <label>
          <input type="radio" name="gender" value="others" formControlName="gender" /> Others
        </label>
        <span style="color:red;" *ngIf="gender?.invalid &&  isFormSubmitted">Please select your gender</span>
      </div>
    </div>

    <div class="inputs_space">
      <label for="dob">Date of Birth</label>
      <input type="date" name="dob" formControlName="dob" max="{{ getMaxDate() }}" /><br>
      <span style="color:red;" *ngIf="dob?.hasError('invalidDateOfBirth') && isFormSubmitted">Please enter a valid date of birth (minimum age is 18)</span>
    </div>

    <div class="inputs_space">
      <label for="city">City</label>
      <select name="city" formControlName="city">
        <option disabled>Select any one</option>
        <option>Ahmadabad</option>
        <option>Baroda</option>
        <option>Rajkot</option>
        <option>Surat</option>
      </select><br>
      <span style="color:red;" *ngIf="city?.invalid && isFormSubmitted">Please select your city</span>
    </div>

    <div class="inputs_space">
      <label for="hobby">Select your hobby</label>
      <select name="hobby" formControlName="hobby" multiple>
        <option value="Cricket">Cricket</option>
        <option value="Book">Book</option>
        <option value="Football">Football</option>
        <option value="Movies">Movies</option>  
        <option value="Running">Running</option>
        <option value="Game">Game</option>
        <option value="Swimming">Swimming</option>
        <option value="Smoking">Smoking</option>
      </select>
      <span style="color:red;" *ngIf="hobby?.invalid && isFormSubmitted">Please select your hobby</span>
    </div>
      
    <div class="inputs_space">
      <label for="tag">Tag</label>
      <div class="input-with-button">
        <input type="text" placeholder="Enter Your Tags" formControlName="tag" />
        <button type="button" (click)="addTag()">+</button>
      </div>
      <span style="color:red;" *ngIf="tag?.invalid && isFormSubmitted">Please enter tags (max 3 can be added)</span>
    </div>
    
    <div class="tag-container">
      <div *ngFor="let tag of tags" class="tag">
        {{ tag }}
        <span (click)="removeTag(tag)">x</span>
      </div>
    </div>
    

    

    <div class="inputs_space">
      <label for="agree">Are you agree with terms & conditions</label>
      <input type="checkbox" name="agree" formControlName="agree" /><br>
      <span style="color:red;" *ngIf="agree?.invalid && isFormSubmitted">You have to agree with terms & conditions</span>
    </div>

    <div class="inputs_space">
      <button type="submit" (click)="isFormSubmitted = true">Submit</button>
      <button type="reset">Reset</button>
    </div>
  
  </form>
</div>
